@import './sections/sec.scss';
.home-section {
    margin: 50px auto !important;
    padding: 30px 20px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.home-section-title {
    margin-bottom: 50px;
}

.home-section-1 {
    margin-top: 50px;
}

.image-drawing {
    width: 100%;
}